﻿@{
    ViewData["Title"] = "Home Page";
}
@model Cats.Views.Models.PetsGroupViewModel[]


@foreach (var group in Model)
{
    <h4>@group.Gender</h4>
    <ul>
    @foreach (var petName in group.PetNames)
     {
         <li>@petName</li>
     }
    </ul>
}